PRODUCTION_IMAGE_REF=ghcr.io/dat23052004/stm-be:main
STAGING_IMAGE_REF=ghcr.io/dat23052004/stm-be:develop
PRODUCTION_DOMAIN=api.example.com
STAGING_DOMAIN=staging-api.example.com
PRODUCTION_CORS_ORIGIN=https://example.com
STAGING_CORS_ORIGIN=https://staging.example.com
ACME_EMAIL=admin@example.com
